Vemos que los datos pueden venir en diferentes formatos: CSV, Excel, JSON, y unos más.
Lo importante es saber cómo traerlos a Python y cómo trabajarlos

In [3]:
import os
os.listdir()

['20-introduction.ipynb',
 '21-different_dataset_formats.ipynb',
 '22-modifying-dataframes.ipynb',
 '23-geocoding.ipynb',
 'french.csv',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets-without-commas.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx']

In [2]:
import pandas

### CSV

In [ ]:
df1 = pandas.read_csv("french.csv")

df1

### JSON

In [ ]:
df2 = pandas.read_json("supermarkets.json")

df2.set_index("ID")

### Excel
Para cargar plantillas de Excel en Pandas, debemos tener las bibliotecas xlrd y openpyxl

In [ ]:
df3 = pandas.read_excel("supermarkets.xlsx", sheet_name=0)

df3

### Texto separado por comas

In [ ]:
df4 = pandas.read_csv("supermarkets-commas.txt")

df4

### Texto separado por un caracter en especial

In [ ]:
df5 = pandas.read_csv("supermarkets-semi-colons.txt", sep = ";")

df5

## Encabezado
El 90% de los archivos trae un encabezado, como los que vimos en los archivos anteriores. Estos sirven para identificar los campos o columnas, sobre todo para saber de que trata dicha columna. En algunos casos, el archivo no trae encabezado, y eso está mal, pero se puede corregir.

In [4]:
df8 = pandas.read_csv("supermarkets-without-commas.txt", header = None)

df8

   0                1              2                 3    4            5   6
0  1     3666 21st St  San Francisco          CA 94114  USA      Madeira   8
1  2   735 Dolores St  San Francisco          CA 94119  USA  Bready Shop  15
2  3      332 Hill St  San Francisco  California 94114  USA  Super River  25
3  4     3995 23rd St  San Francisco          CA 94114  USA   Ben's Shop  10
4  5  1056 Sanchez St  San Francisco        California  USA      Sanchez  12
5  6  551 Alvarado St  San Francisco          CA 94114  USA   Richvalley  20

Incluso podemos agregarle un encabezado personalizado

In [5]:
df8.columns = ["ID", "Address", "City", "ZIP", "Country", "Name", "Employees"]

df8

,ID,Address,City,ZIP,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

También sucede que tenemos 2 columnas de ID. Así que elijamos usar la nuestra (la que viene con el archivo).<BR>
Atención: sucede que este cambio no se guarda

In [ ]:
df8.set_index("ID")

Para que se guarde hay 2 formas:
- Guardarlo en una nueva variable
- Indicar nuevos parámetros especiales. Atención: cuidado con volver a asignar un nuevo índice, porque el que está en ese momento se puede borrar.

In [ ]:
df9 = df8.set_index("ID")
df9

In [ ]:
df8.set_index("ID", inplace = True, drop = False)
df8